In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# SAMPLE

Let's you get samples from a dtaframe in a pretty powerful diverse way

In [3]:
tips.sample(5)

     total_bill   tip     sex smoker   day    time  size
65        20.08  3.15    Male     No   Sat  Dinner     3
59        48.27  6.73    Male     No   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
87        18.28  4.00    Male     No  Thur   Lunch     2
142       41.19  5.00    Male     No  Thur   Lunch     5

In [4]:
tips.sample?

# ISIN

It is applied to an entire column and is very useful in selecting specific rows

In [5]:
is_weekend = tips.day.isin(["Sat", "Sun"])
is_weekend

0       True
1       True
2       True
3       True
4       True
       ...
239     True
240     True
241     True
242     True
243    False
Name: day, Length: 244, dtype: bool

In [6]:
tips[is_weekend].sample(5)

     total_bill   tip     sex smoker  day    time  size
108       18.24  3.76    Male     No  Sat  Dinner     2
208       24.27  2.03    Male    Yes  Sat  Dinner     2
168       10.59  1.61  Female    Yes  Sat  Dinner     2
24        19.82  3.18    Male     No  Sat  Dinner     2
111        7.25  1.00  Female     No  Sat  Dinner     1

In [7]:
tips.isin?

# DROP_DUBLICATES

Works on more than one column

In [8]:
tips[["time", "day"]].drop_duplicates(keep="first")

       time   day
0    Dinner   Sun
19   Dinner   Sat
77    Lunch  Thur
90   Dinner   Fri
220   Lunch   Fri
243  Dinner  Thur

# CUT

This will cut your numeric data into equal buckets and then assign them labels depending on the bucket

In [9]:
pd.cut(tips["total_bill"], 3, labels=["low", "mid", "high"]).head(15)

0      low
1      low
2      mid
3      mid
4      mid
5      mid
6      low
7      mid
8      low
9      low
10     low
11    high
12     low
13     low
14     low
Name: total_bill, dtype: category
Categories (3, object): ['low' < 'mid' < 'high']

# STR

In [10]:
tips.sex.str.lower().head()

0    female
1      male
2      male
3      male
4    female
Name: sex, dtype: object

# NaNs

In [11]:
tips.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [12]:
tips.tip.fillna(0, inplace=True)

In [13]:
tips.dropna(axis=1, how="any", inplace=True)

# CORR

In [14]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [15]:
tips[["total_bill", "tip"]].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

# RANK

This will calculate what rank each entry is in the column

In [16]:
tips.tip.rank().head()

0      5.0
1     33.0
2    177.0
3    165.0
4    185.0
Name: tip, dtype: float64

# RENAME

In [17]:
tips.rename(columns={"total_bill": "bill"}, inplace=True)

In [18]:
tips

      bill   tip     sex smoker   day    time  size
0    16.99  1.01  Female     No   Sun  Dinner     2
1    10.34  1.66    Male     No   Sun  Dinner     3
2    21.01  3.50    Male     No   Sun  Dinner     3
3    23.68  3.31    Male     No   Sun  Dinner     2
4    24.59  3.61  Female     No   Sun  Dinner     4
..     ...   ...     ...    ...   ...     ...   ...
239  29.03  5.92    Male     No   Sat  Dinner     3
240  27.18  2.00  Female    Yes   Sat  Dinner     2
241  22.67  2.00    Male    Yes   Sat  Dinner     2
242  17.82  1.75    Male     No   Sat  Dinner     2
243  18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# ITERTUPLES

Can be used for small dataframes

In [19]:
for tup in tips.itertuples():
    print(tup)

Pandas(Index=0, bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=1, bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=2, bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=3, bill=23.68, tip=3.31, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=4, bill=24.59, tip=3.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=5, bill=25.29, tip=4.71, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=6, bill=8.77, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=7, bill=26.88, tip=3.12, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=8, bill=15.04, tip=1.96, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=9, bill=14.78, tip=3.23, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=10, bill=10.27, tip=1.71, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=11, bill=35.26, tip=5.0, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=12, bill=15.42, tip=1.57, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=13, bill=18.43, tip=3.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=14, bill=14.83, tip=3.02, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=15, bill=21.58, tip=3.92, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=16, bill=10.33, tip=1.67, sex='Female', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=17, bill=16.29, tip=3.71, sex='Male', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=18, bill=16.97, tip=3.5, sex='Female', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=19, bill=20.65, tip=3.35, sex='Male', smoker='No', day='Sat', time='Dinner', size=3)
Pandas(Index=20, bill=17.92, tip=4.08, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=21, bill=20.29, tip=2.75, sex='Female', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=22, bill=15.77, tip=2.23, sex='Female', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=23, bill=39.42, tip=7.58, sex='Male', smoker='No', day='Sat', time='Dinner', size=4)
Pandas(Index=24, bill=19.82, tip=3.18, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=25, bill=17.81, tip=2.34, sex='Male', smoker='No', day='Sat', time='Dinner', size=4)
Pandas(Index=26, bill=13.37, tip=2.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=27, bill=12.69, tip=2.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=28, bill=21.7, tip=4.3, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=29, bill=19.65, tip=3.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=30, bill=9.55, tip=1.45, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=31, bill=18.35, tip=2.5, sex='Male', smoker='No', day='Sat', time='Dinner', size=4)
Pandas(Index=32, bill=15.06, tip=3.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=33, bill=20.69, tip=2.45, sex='Female', smoker='No', day='Sat', time='Dinner', size=4)
Pandas(Index=34, bill=17.78, tip=3.27, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=35, bill=24.06, tip=3.6, sex='Male', smoker='No', day='Sat', time='Dinner', size=3)
Pandas(Index=36, bill=16.31, tip=2.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=3)
Pandas(Index=37, bill=16.93, tip=3.07, sex='Female', smoker='No', day='Sat', time='Dinner', size=3)
Pandas(Index=38, bill=18.69, tip=2.31, sex='Male', smoker='No', day='Sat', time='Dinner', size=3)
Pandas(Index=39, bill=31.27, tip=5.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=3)
Pandas(Index=40, bill=16.04, tip=2.24, sex='Male', smoker='No', day='Sat', time='Dinner', size=3)
Pandas(Index=41, bill=17.46, tip=2.54, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=42, bill=13.94, tip=3.06, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=43, bill=9.68, tip=1.32, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=44, bill=30.4, tip=5.6, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=45, bill=18.29, tip=3.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=46, bill=22.23, tip=5.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=47, bill=32.4, tip=6.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=48, bill=28.55, tip=2.05, sex='Male', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=49, bill=18.04, tip=3.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=50, bill=12.54, tip=2.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=51, bill=10.29, tip=2.6, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=52, bill=34.81, tip=5.2, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=53, bill=9.94, tip=1.56, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=54, bill=25.56, tip=4.34, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=55, bill=19.49, tip=3.51, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=56, bill=38.01, tip=3.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=4)
Pandas(Index=57, bill=26.41, tip=1.5, sex='Female', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=58, bill=11.24, tip=1.76, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=59, bill=48.27, tip=6.73, sex='Male', smoker='No', day='Sat', time='Dinner', size=4)
Pandas(Index=60, bill=20.29, tip=3.21, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=61, bill=13.81, tip=2.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=62, bill=11.02, tip=1.98, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=63, bill=18.29, tip=3.76, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=4)
Pandas(Index=64, bill=17.59, tip=2.64, sex='Male', smoker='No', day='Sat', time='Dinner', size=3)
Pandas(Index=65, bill=20.08, tip=3.15, sex='Male', smoker='No', day='Sat', time='Dinner', size=3)
Pandas(Index=66, bill=16.45, tip=2.47, sex='Female', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=67, bill=3.07, tip=1.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=1)
Pandas(Index=68, bill=20.23, tip=2.01, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=69, bill=15.01, tip=2.09, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=70, bill=12.02, tip=1.97, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=71, bill=17.07, tip=3.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=3)
Pandas(Index=72, bill=26.86, tip=3.14, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=73, bill=25.28, tip=5.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=74, bill=14.73, tip=2.2, sex='Female', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=75, bill=10.51, tip=1.25, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=76, bill=17.92, tip=3.08, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=77, bill=27.2, tip=4.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=4)
Pandas(Index=78, bill=22.76, tip=3.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=79, bill=17.29, tip=2.71, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=80, bill=19.44, tip=3.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2)
Pandas(Index=81, bill=16.66, tip=3.4, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=82, bill=10.07, tip=1.83, sex='Female', smoker='No', day='Thur', time='Lunch', size=1)
Pandas(Index=83, bill=32.68, tip=5.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2)
Pandas(Index=84, bill=15.98, tip=2.03, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=85, bill=34.83, tip=5.17, sex='Female', smoker='No', day='Thur', time='Lunch', size=4)
Pandas(Index=86, bill=13.03, tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=87, bill=18.28, tip=4.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=88, bill=24.71, tip=5.85, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=89, bill=21.16, tip=3.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=90, bill=28.97, tip=3.0, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2)
Pandas(Index=91, bill=22.49, tip=3.5, sex='Male', smoker='No', day='Fri', time='Dinner', size=2)
Pandas(Index=92, bill=5.75, tip=1.0, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2)
Pandas(Index=93, bill=16.32, tip=4.3, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2)
Pandas(Index=94, bill=22.75, tip=3.25, sex='Female', smoker='No', day='Fri', time='Dinner', size=2)
Pandas(Index=95, bill=40.17, tip=4.73, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=4)
Pandas(Index=96, bill=27.28, tip=4.0, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2)
Pandas(Index=97, bill=12.03, tip=1.5, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2)
Pandas(Index=98, bill=21.01, tip=3.0, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2)
Pandas(Index=99, bill=12.46, tip=1.5, sex='Male', smoker='No', day='Fri', time='Dinner', size=2)
Pandas(Index=100, bill=11.35, tip=2.5, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2)
Pandas(Index=101, bill=15.38, tip=3.0, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2)
Pandas(Index=102, bill=44.3, tip=2.5, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=3)
Pandas(Index=103, bill=22.42, tip=3.48, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=104, bill=20.92, tip=4.08, sex='Female', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=105, bill=15.36, tip=1.64, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=106, bill=20.49, tip=4.06, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=107, bill=25.21, tip=4.29, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=108, bill=18.24, tip=3.76, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=109, bill=14.31, tip=4.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=110, bill=14.0, tip=3.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=2)
Pandas(Index=111, bill=7.25, tip=1.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=1)
Pandas(Index=112, bill=38.07, tip=4.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=113, bill=23.95, tip=2.55, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=114, bill=25.71, tip=4.0, sex='Female', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=115, bill=17.31, tip=3.5, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=116, bill=29.93, tip=5.07, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=117, bill=10.65, tip=1.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=118, bill=12.43, tip=1.8, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=119, bill=24.08, tip=2.92, sex='Female', smoker='No', day='Thur', time='Lunch', size=4)
Pandas(Index=120, bill=11.69, tip=2.31, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=121, bill=13.42, tip=1.68, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=122, bill=14.26, tip=2.5, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=123, bill=15.95, tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=124, bill=12.48, tip=2.52, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=125, bill=29.8, tip=4.2, sex='Female', smoker='No', day='Thur', time='Lunch', size=6)
Pandas(Index=126, bill=8.52, tip=1.48, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=127, bill=14.52, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=128, bill=11.38, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=129, bill=22.82, tip=2.18, sex='Male', smoker='No', day='Thur', time='Lunch', size=3)
Pandas(Index=130, bill=19.08, tip=1.5, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=131, bill=20.27, tip=2.83, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=132, bill=11.17, tip=1.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=133, bill=12.26, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=134, bill=18.26, tip=3.25, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=135, bill=8.51, tip=1.25, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=136, bill=10.33, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=137, bill=14.15, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=138, bill=16.0, tip=2.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2)
Pandas(Index=139, bill=13.16, tip=2.75, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=140, bill=17.47, tip=3.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=141, bill=34.3, tip=6.7, sex='Male', smoker='No', day='Thur', time='Lunch', size=6)
Pandas(Index=142, bill=41.19, tip=5.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=5)
Pandas(Index=143, bill=27.05, tip=5.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=6)
Pandas(Index=144, bill=16.43, tip=2.3, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=145, bill=8.35, tip=1.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=146, bill=18.64, tip=1.36, sex='Female', smoker='No', day='Thur', time='Lunch', size=3)
Pandas(Index=147, bill=11.87, tip=1.63, sex='Female', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=148, bill=9.78, tip=1.73, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=149, bill=7.51, tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=150, bill=14.07, tip=2.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=151, bill=13.13, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=152, bill=17.26, tip=2.74, sex='Male', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=153, bill=24.55, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=154, bill=19.77, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=155, bill=29.85, tip=5.14, sex='Female', smoker='No', day='Sun', time='Dinner', size=5)
Pandas(Index=156, bill=48.17, tip=5.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=6)
Pandas(Index=157, bill=25.0, tip=3.75, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=158, bill=13.39, tip=2.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=159, bill=16.49, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=160, bill=21.5, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=161, bill=12.66, tip=2.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=162, bill=16.21, tip=2.0, sex='Female', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=163, bill=13.81, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=164, bill=17.51, tip=3.0, sex='Female', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=165, bill=24.52, tip=3.48, sex='Male', smoker='No', day='Sun', time='Dinner', size=3)
Pandas(Index=166, bill=20.76, tip=2.24, sex='Male', smoker='No', day='Sun', time='Dinner', size=2)
Pandas(Index=167, bill=31.71, tip=4.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=4)
Pandas(Index=168, bill=10.59, tip=1.61, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=169, bill=10.63, tip=2.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=170, bill=50.81, tip=10.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=3)
Pandas(Index=171, bill=15.81, tip=3.16, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2)
Pandas(Index=172, bill=7.25, tip=5.15, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=173, bill=31.85, tip=3.18, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=174, bill=16.82, tip=4.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=175, bill=32.9, tip=3.11, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=176, bill=17.89, tip=2.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=177, bill=14.48, tip=2.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=178, bill=9.6, tip=4.0, sex='Female', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=179, bill=34.63, tip=3.55, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=180, bill=34.65, tip=3.68, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=4)
Pandas(Index=181, bill=23.33, tip=5.65, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=182, bill=45.35, tip=3.5, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=3)
Pandas(Index=183, bill=23.17, tip=6.5, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=4)
Pandas(Index=184, bill=40.55, tip=3.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=185, bill=20.69, tip=5.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=5)
Pandas(Index=186, bill=20.9, tip=3.5, sex='Female', smoker='Yes', day='Sun', time='Dinner', size=3)
Pandas(Index=187, bill=30.46, tip=2.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=5)
Pandas(Index=188, bill=18.15, tip=3.5, sex='Female', smoker='Yes', day='Sun', time='Dinner', size=3)
Pandas(Index=189, bill=23.1, tip=4.0, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=3)
Pandas(Index=190, bill=15.69, tip=1.5, sex='Male', smoker='Yes', day='Sun', time='Dinner', size=2)
Pandas(Index=191, bill=19.81, tip=4.19, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=2)
Pandas(Index=192, bill=28.44, tip=2.56, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2)
Pandas(Index=193, bill=15.48, tip=2.02, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2)
Pandas(Index=194, bill=16.58, tip=4.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2)
Pandas(Index=195, bill=7.56, tip=1.44, sex='Male', smoker='No', day='Thur', time='Lunch', size=2)
Pandas(Index=196, bill=10.34, tip=2.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2)
Pandas(Index=197, bill=43.11, tip=5.0, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=4)
Pandas(Index=198, bill=13.0, tip=2.0, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=2)
Pandas(Index=199, bill=13.51, tip=2.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2)
Pandas(Index=200, bill=18.71, tip=4.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=3)
Pandas(Index=201, bill=12.74, tip=2.01, sex='Female', smoker='Yes', day='Thur', time='Lunch', size=2)